<div class="row">
  <div class="col-md-3">
    <div class="card mx-auto text-center mt-5">
      <div class="card-body">

        <h5 class="text-start"><%= @current_account.agency_account %></h5>
        <h5 class="text-start mb-4"><strong>Saldo:</strong> <%= @current_account.balance %></h5>

      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card mx-auto mt-5">
      <div class="card-header">

       <%= simple_form_for :statement, url: bank_statements_path, method: :get, data: { turbo: false } do |f| %>
        <div class="row">
          <input type="hidden" name="current_account_id" value="<%= @current_account.id %>">
          <div class="col-md-3">
            <%= f.label :start_date, 'Data Inicial' %>
            <%= f.input :start_date, label: false, input_html: { value: params.dig(:statement, :start_date) || Date.today, type: :date, class: 'form-control' } %>
          </div>
          <div class="col-md-3">
            <%= f.label :end_date, 'Data Final' %>
            <%= f.input :end_date, label: false, input_html: { value: params.dig(:statement, :end_date) || Date.today, type: :date, class: 'form-control', max: Date.today } %>
          </div>
          <div class="col-md-3 d-flex align-items-end">
            <%= f.button :submit, 'Gerar Extrato', class: 'btn btn-outline-primary rounded-pill' %>
          </div>
        </div>
       <% end %>
      </div>

      <div class="card-body">
        <% if @report_transaction.transactions.empty? %>
          <div class="alert alert-light" role="alert">
            Selecione a data Inicial e Final antes de gerar o extrato. <br />
            Todas as transações são realizadas no time zone UTC
          </div>
        <% else %>

        <div class="alert alert-light" role="alert">
          <h4><strong>Saldo Final do Período:</strong> <%= @report_transaction.final_balance %></h4>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Tipo</th>
              <th scope="col">Valor</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @report_transaction.transactions.each do |transaction| %>
              <tr class="<%= transaction.debit_kind? ? 'table-danger' : 'table-success' %>">
                <th scope="row"><%= I18n.l(transaction.created_at, format: :short_pt_BR) %></th>
                <td>
                  <p><%= I18n.t(".activerecord.transaction.nickname.#{transaction.nickname.downcase}") %></p>
                  <small><%= I18n.t(".activerecord.transaction.kind.#{transaction.kind.downcase}") %></small>
                </td>
                <td><%= transaction.value %></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
