<section class="container vh-100">
  <div class="col-md-6 d-flex justify-content-center align-items-center h-100">
    <div class="card border-success mb-3 bg-white-opacity-75 p-3 w-100">
			<div class="row">
				<div class="col">
					<h2 class="pb-4 fw-bold"><%= t('.sign_in') %></h2>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="mb-3">
                <%= f.label :email, class: "form-label text-white" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>

              <div class="mb-3">
                <%= f.label :password, class: "form-label text-white" %>
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="mb-3 form-check">
                  <%= f.check_box :remember_me, class: 'form-check-input' %>
                  <%= f.label :remember_me, class: 'form-check-label' %>
                </div>
              <% end %>

              <div class="mb-4 mt-4">
                <div class="d-grid gap-2">
                  <%= f.submit t('.sign_in'), class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  <div class="col-md-6">

  </div>
  </section>

