<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="">
    <header class="sticky-top">
      <section>
        <%= render 'layouts/nav_bar' %>
      </section>
    </header>

    <main class="container">
      <div class="m-3">
        <%= render 'layouts/flash_alert' %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
