<section class="container vh-100">
  <div class="col-md-6 d-flex justify-content-center align-items-center h-100">
    <div class="card border-success mb-3 bg-white-opacity-75 w-100">
      <div class="card-header bg-transparent fs-1 borde-0">
        <h5 class="card-title fs-1 fw-bold text-white text-center"><%= t(".sign_up") %></h5>
      </div>

      <div class="card-body text-success py-5">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
          <div class="form-inputs text-white">
            <div class="mb-3">
              <%= f.label :name, class: "form-label" %>
              <%= f.input :name,
                          label: false,
                          required: true,
                          autofocus: true ,
                          input_html: { autocomplete: "name", class: 'form-control' }%>
            </div>
            <div class="mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.input :email,
                          label: false,
                          required: true,
                          autofocus: true ,
                          input_html: { autocomplete: "email", class: 'form-control' }%>
            </div>

            <div class="row mb-4">
              <div class="col">
                <%= f.label :password, class: "form-label" %>
                <%= f.input :password,
                            label: false,
                            required: true,
                            hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                            input_html: { autocomplete: "new-password", class: 'form-control' } %>
              </div>

              <div class="col">
                <%= f.label :password_confirmation, class: "form-label" %>
                <%= f.input :password_confirmation,
                            label: false,
                            required: true,
                            input_html: { autocomplete: "new-password", class: 'form-control' } %>
              </div>
            </div>

          </div>

          <div class="form-actions d-grid gap-2">
            <%= f.button :submit, t(".sign_up"), { class: 'btn btn-outline-primary rounded-pill text-white fw-bold' } %>
          </div>
        <% end %>
      </div>

      <div class="card-footer bg-transparent border-0">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>

  <div class="col-md-6"></div>
</section>

